<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Selenium">
    <test name="Test-Chrome">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="TC01"/>
            <class name="TC02"/>
            <class name="TC03"/>
            <class name="TC04"/>
            <class name="TC05"/>
            <class name="TC06"/>
            <class name="TC07"/>
            <class name="TC08"/>
            <class name="TC09"/>
            <class name="TC10"/>
            <class name="TC11"/>
            <class name="TC14"/>
        </classes>
    </test>
    <test name="Test-Edge">
        <parameter name="browser" value="edge"/>
        <classes>
            <class name="TC01"/>
            <class name="TC02"/>
            <class name="TC03"/>
            <class name="TC04"/>
            <class name="TC05"/>
            <class name="TC06"/>
            <class name="TC07"/>
            <class name="TC08"/>
            <class name="TC09"/>
            <class name="TC10"/>
            <class name="TC11"/>
        </classes>
    </test>
</suite>